@mixin base{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin w-h-img-L {
    width: 300px;
    height: 500px;
}
  @mixin w-h-img-M {
    width: 200px;
    height: 300px;
}

@mixin w-h-img-S {
    width: 40px;
    height: 60px;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
