@import "../Abstract/Color";
@import "../Abstract/Font";
@import "../Mixin/mixin";

.bok-card {
    @include flex-center-column;
    font-family: $font-ubuntu;
    animation: showUp 4s;
    @keyframes showUp {
      from{opacity: 0;}
      to{opacity: 1;}
    }

    .bok-img {
        border-radius: 15px;
        float: left;
        @include w-h-img-M;
        object-fit: cover;
    }

    .bok-img-div {
        @include w-h-img-M;
        background-color: #807d7d;
        border-radius: 15px;
        @include flex-center;

    }

    .info {
        display: flex;
        gap: 0.5em;
        position: absolute;
        @include w-h-img-M;
        text-align: center;
        @include flex-center-column;
        opacity: 0;
        border-radius: 15px;
        padding: 1em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .title {
            color: #FFF;
            text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
        }

        .author {
            color: #555353;
            text-shadow: -1px 1px 0 #fff,
                1px 1px 0 #fff,
                1px -1px 0 #fff,
                -1px -1px 0 #fff;
        }

        .year {
            color: #000;
            text-shadow: -1px 1px 0 #fff,
                1px 1px 0 #fff,
                1px -1px 0 #fff,
                -1px -1px 0 #fff;
        }

        .line {
            border-top: 1.5px solid rgb(168, 166, 166);
            width: 10rem;
        }

    }

}

.bok-card:hover {
    .bok-img {
        box-shadow: 0 0 40px #000;
    }

    .info {
        background: transparent;
        backdrop-filter: blur(15px);
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }
}