@import "../Abstract/Color";
@import "../Abstract/Font";
@import "../Mixin/mixin";


.navbar-dekstop {
 @include flex-center;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(25px);

  .logo {
    @include flex-center;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    .search-box-container {
      width: 30rem;
      height: 40rem;
      display: none;
      gap: 3px;
      flex-direction: column;
      position: fixed;
      margin-top: 4rem;
      background-color: #dddcda;
      padding: 1em;
      border: 3px solid salmon;
      overflow-y: scroll;
    }

    .input-bar {
      display: flex;
      gap: 1em;

    }

    select {
      width: fit-content;
      font-size: 18px;
      font-family: $font-ubuntu;
      font-weight: 500;
      border-radius: 10px;
      border: 2px solid black;
    }

    input {
      width: fit-content;
      font-size: 18px;
      font-family: $font-ubuntu;
      font-weight: 500;
      padding: 1em;
      border-radius: 10px;
      border: 2px solid black;
    }

    input:hover {
      border: 2px solid rgb(197, 133, 49);
    }

    a{
      font-family: $font-ubuntu;
      font-size: large;
      color: #50504f;
      text-decoration: none;

    }
  }
  .my-books{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    background-color: #ac927a;
    gap: 1em;
    font-family: $font-ubuntu;
    font-weight: 500;
    text-decoration: none;
    color: black;
    img{
      width: 40px;
      height: 40px;
    }
  }
  .my-books:hover{
    background-color: #725235;
    color: white;
    svg{
      fill:white;
    }
  }
}