.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-box {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem 1rem 2rem 1rem;
        gap: 1rem;
        border: 3px solid salmon;
        background-color: sandybrown;
        opacity: 0.4;
    }
}

.selsect {
    display: flex;
    justify-content: center;
    align-items: center;
}