@import "../Abstract/Color";
@import "../Abstract/Font";
@import "../Mixin/mixin";

.search-item{
    display: flex;
    gap: 1em;
    font-family: $font-ubuntu;
    font-size: medium;
    font-weight: 600;
    padding: 5px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    .author{
        color: #525151;
    }
 

    .bok-img {
        float: left;
        @include w-h-img-S;
        object-fit: cover;
    }

    .bok-img-div {
        @include w-h-img-S;
        background-color: #525151;
    }
}
.search-item:hover{
background-color: #acaaaa;
}