@import "../Abstract/Color";
@import "../Abstract/Font";
@import "../Mixin/mixin";
.container {
    @include flex-center;
    padding: 4rem;
    .search-box {
        width: 90vw;
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;
        gap: 1rem;
        border-radius: 15px;
        box-shadow: 0 0 40px #000;
        border: 3px solid salmon;
        background-image: url("/bg-main.jpg");
        background-size: cover;
        border: none;
        box-shadow: inset 0px 0px 40px 40px #e6d3ab;
      }
      .nav{
        text-decoration: none;
        color: black;
      }
  }
  