//Backgound
$background-dark-mode: #2B2A33;
//$background-light-mode: #FFFFFF;

//Menu Bar
$menu-bar-unselect-dark-mode: #949494;
//$menu-bar-unselect-light-mode: #000000;
$menu-bar-select-dark-mode: #EEEEEE;
//$menu-bar-select-light-mode: #636363;

//Btn
$background-btn: #D9D9D9;
$btn-text:#000000;

//Text
$text-color-dark-mode: #777;
//$text-color-light-mode: #777;